html{
  background-color:dodgerblue;
  margin:0px;
  padding:0px;
  width:100%;
}
body{
  margin:0px;
  padding:0px;
}
.container{
 width:900px;
  height:700px;
  background-color:white;
  position:absolute;
  left:180px;
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
.citysearch{
  left:375px;
 top:40%;
  margin:0px;
  padding:0px;
  position: absolute;
  border:solid black;

}

.results{
	width:300px;
	height:200px;
	position:absolute;
	left:300px;
	color:white;
	top:50%;
	background-color:#008B8B;

}
.results:hover{
-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);

}

.inputname{
	font-family:Lato;
	position:absolute;
	top:30%;
	left:350px;
}
.enter{
width:100px;
height:50px;
position:absolute;
top:265px;
left:250px;
background-color:#00FA9A;
border:#00FA9A;

}

.icons8{
position:relative;
top:650px;

}

.icon{
	position:absolute;
	left:400px;
}
.temperature{
	font-family:Lato;
	margin:5px;
	font-size:40px;
	position:absolute;
	right:110px;
}

.city{
font-family:Lato;
margin:5px;
position:absolute;
right:130px;
top:55px;

}

.switchpage{
	height:50px;
	width:100px;
	background-color:#FFA500;
	position:absolute;
	top:120px;
	left:400px;
	padding:5px;
}
.pagelink{
	text-decoration:none;
	font-family:Lato;
}

.humidity{
font-family:Lato;
margin:5px;
font-size:40px;
position:absolute;
right:110px;

}
@media screen and (max-width:1258px){
	html{
		width:100%;
	}
	.container{
		width:675px;
		position:absolute;
		left:230px;
		}
		.humidity,.pagelink,.switchpage,.icon,.icons8,.inputname,.results,.citysearch{
	left:250px;
}
.enter{
	left:130px;

}
.city{
	left:125px;
}
.temperature,.humidity{
	left:105px;
}
.results{
	left:200px;
}
	}







@media screen and (max-width:875px){
	html{
		width:100%;
	}
	.container{
		width:465px;
		position:absolute;
		left:200px;
	}
.humidity,.pagelink,.switchpage,.icon,.icons8,.inputname,.results,.citysearch{
	left:150px;
}
.enter{
	left:30px;

}
.city{
	left:125px;
}
.temperature,.humidity{
	left:105px;
}
.results{
	left:100px;
}
}

@media screen and (max-width:500px){
	html{
		width:100%;
	}
	.container{
		width:465px;
		position:absolute;
		left:50px;
	}
.humidity,.pagelink,.switchpage,.icon,.icons8,.inputname,.results,.citysearch{
	left:150px;
}
.enter{
	left:30px;

}
.city{
	left:125px;
}
.temperature,.humidity{
	left:105px;
}
.results{
	left:100px;
}
}

